html,
body {
  width: 100%;
  height: 100%;
  min-width: 400px;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #3C97E9;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #197ed9;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0 !important;
}

.text-xs {
  font-size: 16px;
}

.text-sm {
  font-size: 20px;
}

.text-md {
  font-size: 32px;
}

.text-lg {
  font-size: 40px;
}

.text-xl {
  font-size: 50px;
}

.bold {
  font-weight: 500;
}

.blue {
  color: #3898ec;
}

.white {
  color: #ffffff;
}

.grey {
  color: #6a7889;
}

.black {
  color: black;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  z-index: 10000;
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #3C97E9;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand .logo-white-image {
  display: inline;
  width: 50px;
}

@media (max-width: 992px) {
  #mainNav .navbar-brand .logo-white-image {
    display: none;
  }
}

#mainNav .navbar-brand .logo-black-image {
  display: none;
  width: 50px;
}

@media (max-width: 992px) {
  #mainNav .navbar-brand .logo-black-image {
    display: inline;
  }
}

#mainNav .navbar-brand .logo-text {
  color: white;
}

@media (max-width: 992px) {
  #mainNav .navbar-brand .logo-text {
    color: black;
  }
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #197ed9;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #3C97E9 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #3C97E9;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .logo-text {
    color: black;
  }
  #mainNav.navbar-shrink .logo-white-image {
    display: none;
  }
  #mainNav.navbar-shrink .logo-black-image {
    display: inline;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #3C97E9;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #3C97E9;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-video.png"), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

header.masthead .header-content {
  margin-top: 40%;
  max-width: 500px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

@media (max-width: 992px) {
  header.masthead .header-content {
    margin-top: 10%;
  }
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

header.masthead .play-wrapper {
  margin-top: 50px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

footer {
  padding: 30px;
  background: #123143;
  text-align: center;
}

.intro {
  background: linear-gradient(to top, #e9f5ff, #ffffff), linear-gradient(#3898ec, #3898ec);
}

.mail {
  background: linear-gradient(187deg, #e1f5ff, #f5faff 48%, #69b9ff);
}

.mail .oval-3 {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mail .benefit-title {
  letter-spacing: normal;
  text-align: center;
  margin: 0;
}

.mail .benefit-description {
  letter-spacing: normal;
  text-align: center;
  margin: 0;
}

.mail .benefit-wrapper {
  text-align: center;
}

.service .service-desc {
  padding: 0 30px 30px 30px;
}

.service .service-image {
  width: 100%;
}

.trial {
  padding-bottom: 0;
  background: url(../img/bg-pattern.png) no-repeat left bottom, linear-gradient(187deg, #e1f5ff, #f5faff 48%, #69b9ff);
}

.trial .trial-icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: white;
  margin: 0;
  padding: 12px;
}

.trial .trial-image {
  width: 100%;
}

.trial .email-box .email-input {
  width: 50%;
  height: 45px;
  border: none;
  float: left;
}

.trial .email-box .email-submit {
  width: 50%;
  padding: 10px 20px;
  color: white;
  background-color: #ffb312;
  float: left;
}

.reservation {
  background: url(../img/bg-reservation.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.reservation .reservation-image {
  width: 100%;
}

.reservation .reservation-desc {
  padding: 0 30px 30px 30px;
}

.features-chain-store {
  background: url(../img/bg-run-business.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-top: 100px;
}

.features-chain-store .container-fluid {
  padding-left: 0;
  margin-left: 0;
}

.features-chain-store .bg-run-business {
  width: 100%;
}

.features-chain-store .multi-store-content {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.features-chain-store .multi-store-content .carousel-indicators {
  position: static;
}

.features-chain-store .multi-store-content .carousel-indicators .carousel-tab {
  height: 7px;
  background: #6a7889;
}

.features-chain-store .multi-store-content .carousel-indicators .active {
  height: 10px;
  background: #3898ec;
}

.features-chain-store .multi-store-content .carousel {
  display: none;
}

.features-chain-store .multi-store-content .feature-box {
  padding: 40px;
}

.features-chain-store .multi-store-content .custom-carousel {
  height: 400px;
}

@media (max-width: 992px) {
  .features-chain-store .multi-store-content .custom-carousel {
    height: 300px;
  }
}

.features-chain-store .multi-store-content .item-text {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.features-chain-store .multi-store-content .left {
  float: left;
}

.features-chain-store .multi-store-content .right {
  float: right;
}

@media (max-width: 768px) {
  .features-chain-store .multi-store-content .carousel {
    display: inline;
  }
  .features-chain-store .multi-store-content .custom-carousel {
    display: none;
  }
  .features-chain-store .multi-store-content .feature-box {
    text-align: center;
  }
  .features-chain-store .multi-store-content .left {
    float: none;
  }
  .features-chain-store .multi-store-content .right {
    float: none;
  }
}

.features-chain-store .multi-store-content li {
  width: 50%;
  max-height: 500px;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.features-chain-store .multi-store-content li img {
  width: 100%;
}

.features-chain-store .multi-store-content li p {
  color: white;
  text-align: center;
  margin-top: 1.175em;
}

.features-chain-store .multi-store-content .items {
  position: absolute;
}

.features-chain-store .multi-store-content .main-pos {
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  z-index: 3000;
}

.features-chain-store .multi-store-content .left-pos {
  left: 0;
  opacity: .3;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.features-chain-store .multi-store-content .back-pos {
  opacity: .05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.features-chain-store .multi-store-content .right-pos {
  left: 50%;
  opacity: .3;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.features-chain-store .multi-store-content span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}

.features-chain-store .single-store-content .single-store-image {
  width: 90%;
}

.features-chain-store .single-store-content .single-store-info-list .single-store-icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #69c9f7, #3898ec);
  margin: 0;
  padding: 12px;
  display: inline-block;
}

.features-chain-store .single-store-content .single-store-info-list .single-store-desc {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.features-chain-store .chain-store-image-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 510px;
}

@media (max-width: 600px) {
  .features-chain-store .chain-store-image-wrapper {
    width: 350px;
  }
}

.features-chain-store .chain-store-image-wrapper .bubble {
  cursor: pointer;
  position: relative;
  padding: 5px;
  background: #eeeeee;
  border-radius: .4em;
  text-align: center;
}

.features-chain-store .chain-store-image-wrapper .bubble.selected {
  background: #3C97E9;
  color: white;
}

.features-chain-store .chain-store-image-wrapper .bubble.selected:after {
  border-top-color: #3C97E9;
}

@media (max-width: 600px) {
  .features-chain-store .chain-store-image-wrapper .bubble {
    padding: 2px;
  }
}

.features-chain-store .chain-store-image-wrapper .bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-top-color: #eeeeee;
  border-bottom: 0;
  margin-left: -13px;
  margin-bottom: -10px;
}

.features-chain-store .chain-store-image-wrapper .tab-single-store {
  position: absolute;
  top: -74px;
  left: 7px;
  width: 155px;
}

@media (max-width: 600px) {
  .features-chain-store .chain-store-image-wrapper .tab-single-store {
    left: 40px;
    width: 80px;
  }
}

.features-chain-store .chain-store-image-wrapper .tab-chain-store {
  position: absolute;
  top: -74px;
  right: 19px;
  width: 145px;
}

.features-chain-store .chain-store-image-wrapper .line {
  height: 1px;
  border: solid 2px #eeeeee;
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media (max-width: 600px) {
  .features-chain-store .chain-store-image-wrapper .line {
    width: 350px;
  }
}

.features-chain-store .chain-store-image-wrapper .oval {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 5px #3898ec;
  border-radius: 50%;
  top: -10px;
  position: relative;
  float: left;
  left: 65px;
}

.features-chain-store .chain-store-image-wrapper .oval-copy {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 5px #3898ec;
  border-radius: 50%;
  top: -10px;
  position: relative;
  float: right;
  right: 77px;
}

.features-chain-store .title-wrapper {
  text-align: center;
  padding-top: 30px;
  display: block;
}
