// Styling for the footer
footer {
    background-color: rgb(2, 35, 54);

    .footer-left-container {
        display: flex;
        .footer-item-container {
            width: 100px;
            display: flex;
            flex-direction: column;
            margin-left: 7%;
            .footer-item-title {
                color: white;
            }
            .footer-item {
                color: white;
            }
        }

    }

}
