
.intro {
  background: linear-gradient(to top, #e9f5ff, #ffffff), linear-gradient(#3898ec, #3898ec);
}

.mail {
	background: linear-gradient(187deg, #e1f5ff, #f5faff 48%, #69b9ff);

	.oval-3 {
	  width: 100px;
	  height: 100px;
	  background-color: #ffffff;
	  border-radius: 50%;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;
	}
	.benefit-title {
	    letter-spacing: normal;
	    text-align: center;
	    margin: 0;
	}
	.benefit-description {
		letter-spacing: normal;
		text-align: center;
		margin: 0;
	}
	.benefit-wrapper {
		text-align: center;
	}
}

.service {
	.service-desc {
		padding: 0 30px 30px 30px;

	}

	.service-image {
		width: 100%;
	}
}

.reservation {
	background: url(../img/bg-reservation/bg-reservation.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  .reservation-image {
  	width: 100%;
  }
  .reservation-desc {
  	padding: 30px;
  }
	
}

.features-chain-store {
	.container-fluid {
		padding-left: 0;
		margin-left: 0;
	}
	background: url(../img/bg-run-business/bg-run-business.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-top: 100px;
	.bg-run-business {
		width: 100%;
	}

	.multi-store-content {
		display: none;
		.multi-store-container {
		  width: 640px;
		  height: 25em;
		  margin: 0 auto;
		  position: relative;
		  @media (max-width: 600px) {
				width: 400px;
			}
		}

		li {
		  width: 500px;
		  background: #333;
		  display: inline-block;
		  -webkit-transition: all .3s ease-in-out;
		  -moz-transition: all .3s ease-in-out;
		  transition: all .3s ease-in-out;
		  overflow: hidden;
		  img {
		  	width: 100%;
		  }
		  @media (max-width: 600px) {
				width: 300px;
			}
		}

		li p {
		  color: white;
		  text-align: center;
		  margin-top: 1.175em;
		}

		.items {
		  position: absolute;
		}

		.main-pos {
		  margin-left: 2% !important;
		  z-index: 3000;
		  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
		}

		.left-pos {
		  opacity: .3;
		  margin-left: -40% !important;
		  z-index: 1000;
		  -webkit-transform: scale(.75);
		  -moz-transform: scale(.75);
		  transform: scale(.75);
		  @media (max-width: 700px) {
				margin-left: -20% !important;
			}
		  @media (max-width: 600px) {
				display: none;
			}
		}

		.back-pos {
		  margin-left: 2em !important;
		  opacity: .05;
		  -webkit-transform: scale(.5);
		  -moz-transform: scale(.5);
		  transform: scale(.5);
		}

		.right-pos {
		  opacity: .3;
		  margin-left:  45% !important;
		  z-index: 1000;
		  -webkit-transform: scale(.75);
		  -moz-transform: scale(.75);
		  transform: scale(.75);
		  @media (max-width: 700px) {
		  	margin-left:  24% !important;
			}
		  @media (max-width: 600px) {
				display: none;
			}
		}

		span {
		  position: relative;
		  margin: 0 auto;
		  left: 17em;
		  top: 20em;
		}
	}

	.single-store-content {
		.single-store-image {
			width: 90%;
		}

		.single-store-info-list {
			.single-store-icon {
			  width: 60px;
			  height: 60px;
			  border-radius: 30px;
			  background-image: linear-gradient(to bottom, #69c9f7, #3898ec);
			  margin: 0;
			  padding: 12px;
			  display: inline-block;
			}

			.single-store-desc {
				display: inline-block;
				width: 65%;
				vertical-align: top;

			}
		}
		

	}


	.chain-store-image-wrapper {
		@media (max-width: 600px) {
			display: none;
		}

	  margin-left: auto;
	  margin-right: auto;
	  position: relative;
	  width: 510px;
  	

  	.bubble {
		  position: relative;
		  padding: 5px;
		  background: #eeeeee;
		  border-radius: .4em;
		  text-align: center;
		  &.selected {
		  	background: $theme-primary;
		  	color: white;
		  	&:after {
					border-top-color: $theme-primary;
				}
		  }
		}

		.bubble:after {
		  content: '';
		  position: absolute;
		  bottom: 0;
		  left: 50%;
		  width: 0;
		  height: 0;
		  border: 11px solid transparent;
		  border-top-color: #eeeeee;
		  border-bottom: 0;
		  margin-left: -13px;
		  margin-bottom: -10px;
		}

		.tab-single-store {
		  position: absolute;
		  top: -74px;
		  left: 40px;
		  width: 155px;
		}
		.tab-chain-store {
		  position: absolute;
		  top: -74px;
		  right: 15px;
		  width: 200px;

		}
		.line {
		  height: 1px;
		  border: solid 2px #eeeeee;
		  width: 500px;
		  position: absolute;
		  margin-left: auto;
		  margin-right: auto;
		  left: 0;
		  right: 0;
		}

		.oval {
		  width: 20px;
		  height: 20px;
		  background-color: #ffffff;
		  border: solid 5px #3898ec;
		  border-radius: 50%;
		  top: -10px;
		  position: relative;
		  float: left;
		  left: 100px;
		}

		.oval-copy {
		  width: 20px;
		  height: 20px;
		  background-color: #ffffff;
		  border: solid 5px #3898ec;
		  border-radius: 50%;
		  top: -10px;
		  position: relative;
		  float: right;
		  right: 100px;
		}

	}

	.title-wrapper {
	  text-align: center;
	  padding-top: 30px;
	  display: block;
	}

}